@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply max-h-screen antialiased;
  }

  * {
    box-sizing: border-box;
  }

  body {
    @apply m-0 p-0 font-sans;
  }

  pre::-webkit-scrollbar {
    display: none;
  }

  pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
  }

  .capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
  }
}

@layer components {
  button {
    user-select: none;
  }

  button {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
}

@layer utilities {
  .text-primary {
    @apply text-black dark:text-white;
  }

  .text-secondary {
    @apply text-black/80 dark:text-white/80;
  }

  .text-tertiary {
    @apply text-black/60 dark:text-white/60;
  }

  .text-quaternary {
    @apply text-black/40 dark:text-white/40;
  }

}


.flash {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  animation: flash 1s linear;
}

@keyframes flash {
  0% {
    opacity: 0.2;
  }
  3.125% {
    opacity: 0.5;
  }
  6.25% {
    opacity: 0.6;
  }
  12.5% {
    opacity: 0.75;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0.75;
  }
  87.5% {
    opacity: 0.25;
  }
  100% {
    opacity: 0;
  }
}